body{
    background-size: 100%;
}

.cright{
    position: fixed;
    right: 0px; bottom: 0px;
}

.title {
    position: absolute;
    top: 10%;
    font-family: 'Flow Circular', cursive;
    font-family: 'Jost', sans-serif;
    margin-top: 1in;
}

.about-us-text{
    margin-top: 1in;
    text-align: justify;
}

.about-us-grid{
    top:30%;
    text-align: center;
    
}



.buttons{
    text-align: center;
    margin-top: 0.5in;
}

.middle{
    padding-left: 0.5in;
    padding-right: 0.5in;
}

.card{
    border: none;
}

.predict{
    background: none;
}

.about-us-row{
    margin-top: 0.5in;
}

.top{
    padding-top: 1in;
}

.bottom{
    padding-bottom: 1in;
}